# Ignore macOS-specific files
.DS_Store
.AppleDouble
.LSOverride
COPYING
# Icon files
Icon?
._*

# Thumbnails
.Spotlight-V100
.Trashes
.VolumeIcon.icns

# Files that might appear on external disk
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.apdisk

